
.footer-section{
    background-color: #DEF6FE;
    margin-top:90px;
}
.logo-section ,.feature,.contact,.aboutUs{
    color:gray;
}
.logo-section img{
    width:200px !important;
    height: 130px !important;
   
}
.footer-menu{
    cursor: pointer;
}
.social-icon{
    font-size: 30px;
   
}
.single-icon{
    margin:0px 7px 0px 7px;
    cursor: pointer;
}
.facebook{
    color:#1877F2;
}
.twitter{
    color:#1DA1F2;
}
.instagram{
    color:#E4405F;
}