

.top-menu li{
    color:gray;
    font-weight: bold;
    font-size: 20px;
}
.user_top, .cart_top{
    font-size: 20px;
    color:gray;
    text-decoration: none;
}
.cart_top{
    position: relative;
}
.cart_number {
    position: absolute;
    top: 0;
    right: -10px;
    background-color: #6D0007;
    color: white;
    margin-top: -15px;
    font-size: 13px;
    border-radius: 50px;
    border: 1px solid;
    height: 23px;
    width: 23px;
    text-align: center;
   
}
.logo img{
    height: 30px;
    width:auto;
}


@media(max-width:991px){
    .logo{
        display: none;
    }
  
}