

.category{
    margin: 90px 30px 20px 30px !important;
    
}

.category_img{
    height:80px !important;
    width:80px !important;
}
.card_color1{
    background-color: #FFF6F6;
    padding:20px;
    height:160px;
    color:#6D6D6C;
}
.card_color2{
    background-color: #E3F7FF;
    padding:20px;
    height:160px;
    color:#6D6D6C;
}
.cg-item:hover{
    cursor: pointer;
}